.EventsList {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 5px;
	/* background-color: var(--white3); */
	background-color: rgba(255, 255, 255, 0.4);
}

.eventsTitle {
	font-size: var(--font-size-xxxlarge);
	font-weight: bold;
}

.events {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 6px;
	padding: 6px;

	width: 100%;
	list-style: none;
	white-space: nowrap;
	overflow: hidden;
}
