:root {
  --frame-size: 40px;
  --half-frame-size: calc(var(--frame-size) / 2);
  --frame-image: url("/tlab-website/public/images/fascia.png");
}

.defs {
  /*
  Hidding SVG affects other SVG styles in the same page if you hide it with display: none.
  Use width: 0; height: 0; instead. This way the defs defined in the svg will be available
  to other SVGs in the same page.
  */
  /* display: none; */
  width: 0;
  height: 0;
}

.CortenFrame {
  width: 100%;
  height: 100%;
  
	flex: 1;
	display: flex;
	flex-direction: column;

	display: grid;
	grid-template-areas:
		"top top top"
		"left content right"
		"bottom bottom bottom";
	grid-template-columns: var(--frame-size) 1fr var(--frame-size);
	grid-template-rows: var(--frame-size) 1fr var(--frame-size);
}

.topFrame {
	grid-area: top;
}

.bottomFrame {
	grid-area: bottom;
}

.leftFrame {
	grid-area: left;
}

.rightFrame {
	grid-area: right;
}

.content {
	grid-area: content;
  
	flex: 1;
	display: flex;
	flex-direction: column;
}
