.TopBar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: var(--top-bar-height);

	background-color: #e69573;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	z-index: 1000;
	user-select: none;

  background-image: url("/tlab-website/images/corten.jpg");
	background-repeat: repeat;
}

.rightTopBar {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;
	margin-right: auto;
}

.title {
  font-size: var(--font-size-xxxxlarge);
  font-weight: bold;
  color: var(--white5);
}

.leftTopBar {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;
	margin-left: auto;
}
