.WhatIsTLab {
	padding: 40px;
}

.title {
  font-size: var(--font-size-xxxlarge);
  font-weight: 700;
}

.description {
  padding-right: 60px;
  padding-left: 60px;

  font-size: var(--font-size-medium);
  font-weight: 400;
  margin-top: 1rem;
}