.WhatIsTLab {
	padding: 40px;
  /* color: var(--white5); */
  /* color: var(--black1); */
}

.title {
  font-size: var(--font-size-xxxlarge);
  font-weight: 700;
}

.description {
  margin-top: 1rem;
  padding-right: 60px;
  padding-left: 60px;

  font-size: var(--font-size-medium);
  font-weight: 400;
}