.Home {
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
}

.SpeechBubble {
	position: absolute;
	top: 20%;
	right: 30%;
}

.Avatar {
	width: 70%;
	height: 70%;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	position: absolute;
	top: 50%;
	right: 20%;

	transform: translate(-50%, -50%);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--black3);
  color: var(--white5);
  font-size: var(--font-size-medium);
  cursor: pointer;
}