.Home {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}

.SpeechBubble {
	position: absolute;
	top: 20%;
	right: 30%;
}

.Avatar {
	flex: 1 1 auto;
	max-width: calc(800px * 0.6);
	max-height: calc(1040px * 0.6);
}

.links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	row-gap: 40px;
  column-gap: 70px;
}
