.Home {
	display: grid;
  grid-template-columns: 1fr 40px 4fr;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}

.links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
  justify-items: center;
	row-gap: 40px;
  column-gap: 70px;
}
