.FemaleAvatar {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.teacher {
  display: block;
	object-fit: cover;
  z-index: 1001;
}

.arm {
  position: absolute;
  display: block;
	object-fit: cover;
  pointer-events: none;
  z-index: 1000;
}