.HomeLink {
	display: inline-flex;
  justify-content: center;
  align-items: center;
  
	background-image: url("/tlab-website/images/cornice-ovale.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* or 'contain' */
  /* image-rendering: pixelated; */

  /* Image is 235 x 150 */
  width: 235px;
  height: 150px;
  padding: 10px;

	font-size: var(--font-size-medium);
	text-align: center;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
