.HomeLink {
	position: relative;

	/* Image is 235 x 150 */
	width: 185px;
	height: 140px;
	border-radius: 50%;

	transition: transform 0.2s;

	&:hover {
		transform: scale(1.1);
	}
}

.frame {
  position: absolute;
	top: -5px;
  left: -25px;
	
  pointer-events: none;
}

.link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
  
  width: 100%;
	height: 100%;
  padding: 0 20px;
  border-radius: 50%;

	text-align: center;
  font-size: var(--font-size-large);
  color: var(--black3);
  font-weight: bold;
  text-decoration: none;

  background-color: var(--white1);

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--white3);
  }
}
