.TopBarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  padding: 10px 10px;
  border-left: 1px solid var(--white1);
  border-right: 1px solid var(--white1);
  /* border: 1px solid var(--white1); */
  /* border-radius: 5px; */

  
	color: var(--black5);
  font-size: var(--font-size-medium);  
	text-decoration: none;
	
  transition: background-color 0.15s;
  
  &:hover {
    background-color: var(--white5);
  }

  &.active {
    background-color: var(--white4);
  }
}
