:root {
  /* Colors */
	--black1: #000;
	--black2: #111;
	--black3: #222;
	--black4: #333;
	--black5: #444;
	--gray1: #555;
	--gray2: #666;
	--gray3: #777;
	--gray4: #888;
	--gray5: #999;
	--white1: #aaa;
	--white2: #bbb;
	--white3: #ccc;
	--white4: #ddd;
	--white5: #eee;
  --blue1: #08f;
  --blue2: #07e;
  --blue3: #06d;
  --blue4: #05c;
  --blue5: #04b;

  /* Fonts */
	--font-size-xxsmall: 12px;
	--font-size-xsmall: 14px;
	--font-size-small: 16px;
	--font-size-medium: 18px;
	--font-size-large: 22px;
	--font-size-xlarge: 26px;
	--font-size-xxlarge: 30px;
	--font-size-xxxlarge: 34px;

  /* Layout */
	--top-bar-height: 60px;
	--footer-height: 90px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	display: flex;
	min-height: 100%;
}

body {
	display: flex;
	flex: 1;
	background-color: var(--white5);
}

#root {
	flex: 1;
}

/* 
#root {
	height: 100%;
  min-height: 100%;
} */

/* .ck.ck-editor__editable {
  min-height: 200px;
} */
