.Events {
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  
  padding: 20px;

  background-color: var(--black3);
  font-family: "Comic Sans MS", cursive, sans-serif;
}
