.Events {
	display: grid;
	grid-template-columns: 2fr 40px 1fr 4fr;
}

.left {
	display: grid;
  grid-template-rows: 300px 40px 1fr;
  background-image: url("/tlab-website/public/images/tappezzeria.jpg");
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventsList {
	width: 100%;
	height: 300px;
}

.monthlyCalendar {
  height: 100%;
  width: 100%;
}

.weeklyCalendar {
  height: 90%;
  width: 90%;
}

.barContainer {
  grid-column: span 2;

	position: relative;
  display: flex;
  align-items: center;

	width: 100%;
  height: 100%;

	& .studdedBar {
		position: absolute;
		left: 0;
		top: 0;
	}

	& .uomoConGiornale {
    position: absolute;
    left: -35px;
		pointer-events: none;
    user-select: none;
	}
}
