.WeeklyCalendar {
	display: grid;
	grid-template-rows: 50px 1fr;
  grid-template-columns: 60px 1fr;

	font-size: var(--font-size-large);
}

.calendarNavigator {
  grid-column: span 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

	width: 100%;
	padding: 0 10px;

	background-color: rgba(0, 0, 0, 0.4);
}

.nextAndPrevContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentYearAndMonth {
	width: 240px;
	text-align: center;

	color: var(--white5);
	font-weight: bold;
  white-space: nowrap;
}

.todayButton {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 15px;
	height: 40px;
	border: none;
	border-radius: 5px;

	color: var(--white5);
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);

	cursor: pointer;
}

.nextButton,
.prevButton {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);

	cursor: pointer;
}

.nextButtonArrowContainer {
	position: relative;
	right: 2px;
}

.prevButtonArrowContainer {
}

.nextArrow,
.prevArrow {
  border-color: var(--white5);
}

.nextArrow {
  position: relative;
  right: 2px;
}

.prevArrow {
  position: relative;
  left: 2px;
}

.weekdays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--white4);
	font-weight: bold;
}

.week {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 1px;
}

.day {
  flex: 1;

  padding: 5px;

  user-select: none;
  list-style: none;
  color: var(--black1);
  font-weight: bold;
  
	background-color: rgba(255, 255, 255, 0.5);

	&.isToday {
		color: var(--white5);
		background-color: rgba(0, 0, 0, 0.15);
	}
}

.events {
  display: flex;
  gap: 5px;

  padding: 5px;

  position: absolute;
  bottom: 0;
  left: 0;
}